#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  padding: 60px 20px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("./assets/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Main title */
.app h1 {
  margin: 0;
  font-size: 42px;
  color: #fff;
}

/* Text underneath Welcome */
.subtitle {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: px;
  color: #ffffff;
}

/* The two boxes */
.forms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 800px;
  margin: 0 auto;
}

/* Individual Sign Up / Login boxes */
.form-container {
  width: 350px;
  padding: 30px;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(244, 240, 240, 0.441);
  box-sizing: border-box;
}

/* Sign Up / Login heading */
.form-container h2 {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  color: #222;
}

/* Form layout */
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Labels */
.form-container label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
  font-weight: 500;
  color: #333;
}

/* Text boxes */
.form-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #7b5353;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

/* When you click inside an input */
.form-container input:focus {
  outline: none;
  border-color: #48636c5c;
  box-shadow: 0 0 0 2px rgba(177, 206, 204, 0.15);
}

/* Buttons */
.form-container button {
  margin-top: 10px;
  padding: 11px;
  border: none;
  border-radius: 6px;
  background: rgb(65, 79, 124);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Button when mouse is over it */
.form-container button:hover {
  background:rgb(34, 48, 67);
}

/* Make the cards stack on smaller screens */
@media (max-width: 750px) {
  .forms {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    width: 100%;
    max-width: 400px;
  }
}